*{
    padding: 0px;
    margin: 0px;
}
/* empty body styling */
body {
    background-image: url(Background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    /*background-position: center;*/
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar{
    background: rgb(0, 100,0);
    text-align: center;
    background-repeat: no-repeat;
}
.navbar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.navbar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
}
.navbar ul li a:hover {
    background: #95a192;
    text-decoration: underline;
    color: black;
    border-radius: 5px;
}

.navbar-menu{
    display: none;
} 
.navbar ul li:hover .navbar-menu {
    display: block;
    position: absolute;
    background: rgb(0, 100,0);
    margin-top: 15px;
    margin-left: -15px;
}
.navbar ul li:hover .navbar-menu ul {
    display: block;
    margin: 10px;
}
.navbar ul li a:hover .navbar-menu ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.navbar ul li a:hover .navbar-menu ul li:last-child {
    border-bottom: none;
}
.navbar ul li a:hover .navbar-menu ul li:hover {
    color: #b2ff00;
} 